html {
    background-image: url('../images/pixar-bg.jpg');
    background-color: #9fb9de;
    background-position: center center;
    background-repeat: no-repeat;
    text-shadow: 0.25px 0.25px #fff;
    height: 100%;
    background-size: cover;
}
body {
    width: 100%;
    max-width: 100%;
    background-color: transparent !important;
    padding: 20px;
    margin: 40px auto !important;
    border-radius: 5px;
}
.jumbotron {
    background: transparent !important;
    margin-bottom: 0px !important;
    background-color: rgba(255,255,255,0.5) !important;
    padding: 40px !important;
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
}
#title {
    margin-bottom: 20px;
    text-align: center;
}
#buttons {
    text-align: center;
}
#buttons button {
    margin: 0 20px 20px;
}
#movieInput {
    text-align: center;
}
#pixarGIFs {
    text-align: center;
    width: 100%;
}
#pixarGIFs .gifDiv {
    display: inline-block;
    width: 300px;
    max-width: 100%;
    padding: 20px;
}
#pixarGIFs .gifDiv p {
    text-align: left;
}
#pixarGIFs .gifDiv img {
    width: 100%;
}
button#more {
    display: none;
    margin: auto;
}
.movieBtn {
    width: 130px;
    border-radius: 5px;
    border: none;
    background: #ccc;
    transition: 0.3s;
}
.movieBtn:hover {
    background: #000;
    color: #fff;
    transition: 0.3s;
}